/*
	* Author: Alex Smith
	* App: WhenDos95
*/


/* Basic Styles */

body {
	background-color: #008081;
	color: #fff;
	font-family: Helvetica, sans-serif;
}

#wrapper {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	display: block;
}


/* Header Styles */

#welcome {
	color: black;
}

#welcome-font {
	font-family: "Times New Roman", serif;
}

#ninety-five {
	font-size: 1.3em;
}

#whendos {
	font-weight: bolder;
	font-size: 1.3em;
}

h1 {
	background: #c0c0c0;
	font-size: 1.5em;
	border: 1px solid black;
	width: 100%;
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#dialogue_header {
	position: relative;
	height: 16px;
	background-color: #010080;
	margin-bottom: 1em;
}

#dialogue_header:after {
	position: absolute;
	top: 0;
	right: 0;
	content: "x";
	color: #000;
	background-color: #c0c0c0;
	border: 1px solid black;
	font-size: 8px;
	padding: 1px 2px 1px 2px;
	margin: 1px 2px 0 0;
	text-align: center;
}


/* Random Styles */

#divider {
	visibility: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
}


/* Input Styles */

input[type=text] {
	margin-bottom: 1em;
	margin-left: 1em;
}

input[type=text]:focus {
	border-style: dotted;
	border-color: #999;
	border-radius: 1px;
}

input#startimage-button {
	background: #bbb url('/images/start.gif') no-repeat top center;
	padding-left: 58px;
	padding-bottom: 4px;
	margin-top: 0.8em;
}

input#delete {
	background: #008081 url('/images/recycle.jpg') no-repeat top left;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 12px;
	border: none;
}

input#delete:hover {
	cursor: pointer;
}

input#edit {
	background: #008081 url('/images/edit.png') no-repeat top left;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 12px;
	border: none;
}

input#edit:hover {
	cursor: pointer;
}

button {
	font-family: Helvetica, sans-serif;
}

select {
	margin: 0 0 1em 1em;
}

select:hover, select:active, select:focus {
	cursor: pointer;
}

