/*
        * Author: Code courtesy of 3foldx.com
        * App: WhenDos95
*/


/* === DESKTOP === */

.table {display:table;}
.table > * {display:table-row;}
.table > * > * {display:table-cell; width: 100%; max-width: 100px;}
.table.vtop > * > * {vertical-align: top;}
.table.vmid> * > * {vertical-align: middle;}
.table.vbot> * > * {vertical-align: bottom;}
.table.p20 > * > * {padding-left:20px;padding-top:20px;}
.table.p20 > * > *:first-child {padding-left:0;}
.table.p20 > *:first-child > * {padding-top:0;}
.table.p20.hr > * > * {
	border-top:1px solid #fff;
	border-bottom:0; border-right:0; border-left:0;
	background:url(/images/hr_shadow.png) no-repeat top;
	background-size:100% 7px;
	padding-bottom:20px;
}
.table.hr > *:first-child > * {border-top:0;background:none;}
.table.half-width > * > * {width:50%;}
.table .header {font-weight: bold;}


/* === RESPONSIVE === */

.tablet-only, .phone-only, .not-desktop { display:none; }
@media only screen and (max-width: 959px) and (min-width: 768px) {
	.desktop-only, .phone-only, .not-tablet { display:none; }
	.ltdesktop-centered { text-align:center; }
}

@media only screen and (max-width: 767px) {
	.desktop-only, .phone-only, .not-tablet { display:none; }
	.not-desktop, .tablet-only, .not-phone {display:block;}
	.table, .table>*, .table>*>* {display:block}
	.table.p20, .table.p20>*, .table.p20>*>* {padding-left:0;padding-right:0;}
	.table.p20>*>* {padding:0 0 20px 0 !important;}
	.ltdesktop-centered { text-align:center; }
	.table.p20.hr > * > * {border-top:0; background:none;padding-bottom:0;}
	.table.p20.hr > * > *:first-child {margin-top:20px;}
	.table.p20.hr > *:first-child > * {border-top:0!important; background:none!important;}
	.table.p20.hr > * > *:first-child {
		border-top:1px solid #fff;
		border-bottom:0; border-right:0; border-left:0;
		background:url(/images/hr_shadow.png) no-repeat top;
		background-size:100% 7px;
	}
}
